<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<display-name>converter</display-name>

<error-page>
  <error-code>404</error-code>
  <location>/404.html</location>
  </error-page>
  
    <error-page>
  <exception-type>java.lang.Exception</exception-type>
  <location>/erro.html</location>
  </error-page>
  
	<!-- Declaracao do servlet do Spring MVC abaixo -->
	<servlet>
	<servlet-name>springmvc</servlet-name>
	<servlet-class>
	<!-- esta é a servlet do spring - é o controller-->
	org.springframework.web.servlet.DispatcherServlet 
	</servlet-class>
	<init-param>
	<param-name>contextConfigLocation</param-name>
	<!-- este sera o ficheiro que vai ter os parametros
	que serao interpretado, extraidos pela servlet (controlador)
	org.springframework.web.servlet.DispatcherServlet
	
	o nome do ficheiro pode ser qualquer um
	nao é necessario ser esse
	-->
	<param-value>/WEB-INF/spring-context.xml</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<!-- mapeamento da servlet
	sempre que uma requisição é feita ele vai para o servidor tomcat
	
	o ficheiro web.xml diz que tudo que for requisitado
	vai	ser enviado para "springmvc"
	springmvc conforme  declaramos acima, é uma servlet (controller) do spring
	-->
	<servlet-mapping>
	<servlet-name>springmvc</servlet-name>
	<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>